.actualform {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
}



.input {
        border: 2px solid rgb(9, 111, 243);
        border-radius: 4px;
        border-style: groove;
}

#submitCompounds{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 50px;

      }


#submitCompounds:hover {
        
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:  #008CBA;
        color: white;
 }

h3{
      
        display: flex;
        align-items: center;
        justify-content: center;


}


#description1{

margin-left: 50px;


}

#description2{
        
 margin-right: 110px;

}


#quantity1{

        margin-left: 25px;
        
        
}

#quantity2{

margin-right: -1px;
                
                
}

#state1{

        margin-left: 16px;
                        
                        
        }