.actualform {
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
}

.input {
        border: 2px solid rgb(9, 111, 243);
        border-radius: 4px;
        border-style: groove;
}

#submitCompounds{
        display: flex;
        align-items: center;
        justify-content: center;

      }


#submitCompounds:hover {
        
        display: flex;
        align-items: center;
        justify-content: center;
        background-color:  #008CBA;
        color: white;
 }

